*{

    color: lightgray;
}

body{
    background-image: linear-gradient(rgba(16, 42, 69, 0.85), rgba(16, 42, 69, 0.85)), url(foto2.png);
    background-position: center;
    background-size: 2000px,2000px;
    margin-top: 30px;
    margin-bottom: 20px;

}
h1, h2{ 
    font-size: 50px;
    text-align: center;
}

p{
    font-size: 20px;
    text-align: center;
}
a{
    color: lightgray;
    text-decoration: none;
    background-color: #4582a850;
    border-radius: 10px;
    padding: 2px;
    font-size: 25px;
}
a:hover {
    color:lightgray;
	background: #4582a8;
    transition: 1s all ease-out;
}

.tudo{
    margin-left: 200px;
    margin-right: 200px;
}
.voltar{
    font-size: 30px;
    background-color: #4582a868;
    border-radius: 25%;
    margin: 30px;
    padding: 10px;
}

img{
    border: solid lightgray 5px;

}